<h1>Sodoku</h1>

<%= form_tag solve_it_path do |f| %>
  <%= number_field_tag :num1,nil, within: 0...10 %>
  <%= number_field_tag :num2,nil, within: 0...10 %>
  <%= number_field_tag :num3,nil, within: 0...10 %> |
  <%= number_field_tag :num4,nil, within: 0...10 %>
  <%= number_field_tag :num5,nil, within: 0...10 %>
  <%= number_field_tag :num6,nil, within: 0...10 %>
 <p> <%= submit_tag "Solve it!"%> </p>

<%end%>